:root{
    --vermelho-escuro: #D00000;
    --amarelo-vivo: #FFB703;
    --cinza-escuro: #252A33;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza-claro: #D9D9D9;
    --fonte-text: "Geologica", sans-serif;
}
body {
  margin: 0;
  font-family: var(--fonte-text);
  background: url(imags/fundo-matricula.png) 
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
#topo{
  min-width: 188.83px;
  background-color: var(--cinza-escuro);
  padding: 5px 5px;
}
.grid-topo{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; 
}
#meu-topo{
  grid-column: 3/4;
}
.grid-topo > h2{
   grid-column: 2/3;
   font-size: 32px;
   font-weight: 900;
   text-align: center;
   color: #FFFFFF;
   margin-top: 40px;
  align-self:center;
}
#menu-topo > ul{
  display:flex;
  list-style: none; 
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#matri{
   display: inline-block;
  background-color:var(--vermelho-escuro); 
  color: white;
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 40px;
  font-weight: bold;
  font-family: var(--fonte-text);
  transition: background-color 0.3s, transform 0.2s;
}
  #matri a:hover{
  color: var(--cinza-claro);
  text-decoration: underline;
}
#menu-topo a {
font-size: 1.25rem;
font-family: var(--fonte-text);
color:#FFFFFF;
text-decoration: none;
font-weight: bold;
}
#menu-topo a:hover{
  color: var(--cinza-claro);
  text-decoration: underline;
}
#menu-topo .atual{
  color: #D00000;
  text-decoration: underline;
}
#topo h2{
  align-items: center;
  padding-right: 50px;
}
.texto-vermelho{
  color: #D00000;
}#info{
  height: 600px;
}
.container2 {
  background-image: url(imags/fundoinfo.png);
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #D00000;
}

.titulo {
  background-color: #D00000;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 20px;
}

h3 {
  color: #252A33;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 2px solid #D00000;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

.duas-colunas {
align-items: center;
  display: flex;
  gap: 10px;
 width: 100%;
 padding: 10px;
 border: 2px solid var(--vermelho-escuro);
 border-radius: 8px;
 background-color: #FFFFFF;
 color: #252A33;
 font-size: 34px;
 outline: none;
 transition: 0.3s;
 appearance: none;
 background-repeat: no-repeat;
 background-position: right 10px center;
 background-size: 12px;
 cursor: pointer;
 margin-bottom: 15px;
}

button {
  font-family: var(--fonte-text);
  background-color: #D00000;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  background-color: #FFB703;
  color: #000;
}